<div id = "theblog">
    <img src = "../../assets/media/theblog.JPG" alt = "The Blog" />
</div>

<div>
    <ul id = "theblognav">
        <a [routerLink] = "[{outlets: {blognav: ['themes']}}]" routerLinkActive = "active"><li>THEMES OF THE WEEK</li></a>
        <a [routerLink] = "[{outlets: {blognav: ['poetry']}}]" routerLinkActive = "active"><li>POETRY</li></a>
    </ul>
    <script src = "https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type = "text/javascript">
        $(document).on('click', 'ul li', function(){
            $(this).addClass('active').siblings().removeClass('active')
        })
    </script>
</div>
<br><br>
<router-outlet name = "blognav"></router-outlet>

<footer>

    <div id = "Footer_Navigation">
      <h1 id = "Footer_h1">NEED HELP NAVIGATING?</h1>
      <ul id = "Footer_nav">
        <a routerLink = "/home"><li>HOME</li></a>
        <a routerLink = "/theblog"><li>THE BLOG</li></a>
        <a routerLink = "/freelance"><li>FREELANCE</li></a>
        <a routerLink = "/about"><li>ABOUT</li></a>
        <a routerLink = "/contact"><li>CONTACT</li></a>
      </ul>
    </div>

    <div id = "Footer_SocialMedia">
        <h1 id = "Footer_h1_sm">KEEP IN TOUCH</h1>
        <div id = "Footer_SM_icon"><img src = "../../assets/media/email_icon.png"/></div>
        <div id = "Footer_SM_icon"><img src = "../../assets/media/instagram_icon.png"/></div>
        <div id = "Footer_SM_icon"><img src = "../../assets/media/pinterest_icon.png"/></div>
        <ul id = "SM_ul">
        <li>hollydeutschmann5@gmail.com</li>
        <li>@holly_deutsch</li>
        <li>Holly Deutschmann</li>
        </ul>
    </div>

</footer>
<p id = "Copyrite_p">Copyrite &copy; Heather</p>
