<!-- Title Picture "According to Holly" -->
<div id = "ath">
    <img src = "../../assets/media/ath.JPG" alt = "According to Holly" />
</div>

<!-- Coffee picture -->
<div id = "Landing_Image">
    <img src = "../../assets/media/Landing_Image_Final.jpg"/>
</div>

<!-- Three tiles on home page-->
<div id = "Landing_Tiles">
    <a routerLink = "/theblog"><div id = "Tiles"><p id = "tile_p">themes <br>of <br>the week</p></div></a>
    <a routerLink = "/theblog"><div id = "Tiles"><p id = "tile_p"><br>poetry<br><br></p></div></a> 
    <a routerLink = "/theblog"><div id = "Tiles"><p id = "tile_p">suggest <br>a <br>topic</p></div></a>
</div>

<!--- Explanation of 'According to Holly' -->
<div id = "ATH_explain">
    <h2 id = "ATH_Exp_h2">According to Holly?</h2>
    <!-- Holly sending copy that can be hardcoded since it wont change -->
    <p id = "ATH_Exp_p"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Fringilla, suscipit mi at, auctor sem. Aenean dictum auctor augue. Nam eget
        sapien vestibulum, consectetur magna ut, cursus neque. Aenean odio quam, commodo
        non justo et, luctus viverra lorem. Curabitur id massa nisl. Fusce nisi justo,
        condimentum eu rhoncus eget, sollicitudin eget nisi. Aenean lacus elit, sodales
        ullamcorper dignissim at, finibus nec ante. Curabitur efficitur mauris ornare,
        pellentesque metus eu, ullamcorper risus. Quisque sed lacus metus.<br>
  
        Suspendisse blandit, libero luctus viverra rhoncus, lorem ante vulputate turpis,
        quis finibus nisi mauris eu metus. Nulla posuere feugiat euismod. Ut dui sem, aliquam
        eget sem sit amet, porta lobortis felis. Mauris vitae mauris bibendum,
        dapibus ipsum sit amet, porta erat. Aenean tincidunt tincidunt eros
        id tristique. Mauris ut sapien pulvinar, volutpat magna sed, pharetra erat.
        Donec tempus ornare justo, vel gravida nisi molestie quis. Donec et nunc diam.
        Vestibulum ut enim cursus, imperdiet velit aliquam, luctus nunc. Nam quis
        consectetur massa. Duis venenatis, quam pellentesque molestie condimentum,
        ipsum lorem accumsan mauris, egestas volutpat neque enim eget nunc. Cras
        malesuada neque at ligula volutpat, sed rhoncus justo pellentesque. Nunc
        in turpis vel risus lacinia luctus ac vitae enim.</p>
</div>

<footer>

    <div id = "Footer_Navigation">
      <h1 id = "Footer_h1">NEED HELP NAVIGATING?</h1>
      <ul id = "Footer_nav">
        <a routerLink = "/home"><li>HOME</li></a>
        <a routerLink = "/theblog"><li>THE BLOG</li></a>
        <a routerLink = "/freelance"><li>FREELANCE</li></a>
        <a routerLink = "/about"><li>ABOUT</li></a>
        <a routerLink = "/contact"><li>CONTACT</li></a>
      </ul>
    </div>

    <div id = "Footer_SocialMedia">
        <h1 id = "Footer_h1_sm">KEEP IN TOUCH</h1>
        <div id = "Footer_SM_icon"><img src = "../../assets/media/email_icon.png"/></div>
        <div id = "Footer_SM_icon"><img src = "../../assets/media/instagram_icon.png"/></div>
        <div id = "Footer_SM_icon"><img src = "../../assets/media/pinterest_icon.png"/></div>
        <ul id = "SM_ul">
        <li>hollydeutschmann5@gmail.com</li>
        <li>@holly_deutsch</li>
        <li>Holly Deutschmann</li>
        </ul>
    </div>

</footer>
<p id = "Copyrite_p">Copyrite &copy; Heather</p>

<!--
<script language="JavaScript">
  current_date = new Date();
  document.write (current_date.getFullYear());
</script>
-->